<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Compare ice charts</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    .pdf-container {
      width: 50%;
      float: left;
    }
  </style>
  <script defer data-domain="gregdev.com" src="https://analytics.gregdev.com/js/script.file-downloads.hash.outbound-links.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
</head>
<body>
  <h1>Select two dates and compare charts from each</h1>
  <p><a href="/previous">Go to "previous" chart view</a></p>
  <div class="pdf-container">
    <!-- Form to select PDF for the first iframe -->
    <form id="pdfForm1">
      <select name="pdf_url" id="pdfSelect1">
        <% pdf_urls.each_with_index do |pdf_url, index| %>
          <option value="<%= pdf_url %>"><%= dates[index] %></option>
        <% end %>
      </select>
      <button type="submit">View chart</button>
    </form>

    <!-- Iframe to display selected PDF for the first form -->
    <iframe id="pdfIframe1" width="100%" height="600px"></iframe>
  </div>

  <div class="pdf-container">
    <!-- Form to select PDF for the second iframe -->
    <form id="pdfForm2">
      <select name="pdf_url" id="pdfSelect2">
        <% pdf_urls.each_with_index do |pdf_url, index| %>
          <option value="<%= pdf_url %>"><%= dates[index] %></option>
        <% end %>
      </select>
      <button type="submit">View chart</button>
    </form>

    <!-- Iframe to display selected PDF for the second form -->
    <iframe id="pdfIframe2" width="100%" height="600px"></iframe>
  </div>

  <script>
    $(document).ready(function() {
      // Function to handle form submission and iframe update
      function handleFormSubmit(formId, selectId, iframeId) {
        $(formId).submit(function(event) {
          // Prevent default form submission
          event.preventDefault();

          // Get selected PDF URL
          var selectedPdfUrl = $(selectId).val();

          // Update iframe source with selected PDF URL
          $(iframeId).attr('src', '/pdf_to_jpg?pdf_url=' + selectedPdfUrl);
        });
      }

      // Call the function for each form and iframe
      handleFormSubmit('#pdfForm1', '#pdfSelect1', '#pdfIframe1');
      handleFormSubmit('#pdfForm2', '#pdfSelect2', '#pdfIframe2');
    });
  </script>
</body>
</html>
